.imagem-texto-card{
    display:flex;
   gap: 20px;
   
    
}

.container-texto-card-produto{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:200px;
    
}

.card-produto-busca-produto{
    cursor:pointer;
    flex: 0 0 48%;
    box-sizing: border-box;
    border:2px solid #f0f0f0;
    align-items: center;
    text-align: center;
    display:flex;
    width:450px;
}

.container-card-produtos{
    display:flex;
    position:relative;
}


.botao-voltar{
    border:none;
    background-color: transparent;
}

.botao-avancar{
    border:none;
    background-color: transparent;
   
   margin-left:-20px;
}

.paginacao{
    width:100%;
    align-items: center;
    margin-top:20px;
    display:flex;
    gap:20px;
    justify-content: center;
}

.paginacao button{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#111111;
    box-sizing: border-box;
    border: 2px solid #111111;
    border-radius:10px;
    color:white;
    width:30px;
    height:26px;
}

.seta-branca{
    width:30px;
    height:26px;
}

.seta-branca-esquerda{
    width:30px;
    height:23px;
}

.nao-foram-encontrados-produtos{
    height:500px;
    display:Flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
}

.resultado-pesquisa{
    font-size:24px;
}

.nome-categoria {
    font-size:24px;
}

.secao-categoria-produtos{
    width:100%;
}

.botao-direita-paginas:disabled {
    opacity: 0;
}

.card-sugestao-produto{
    display:flex;
    color: #111111;
    box-sizing: border-box;
    
    flex-wrap:wrap;
    font-size: 12px;
    margin-top:10px;
    cursor: pointer;
    gap:20px;
}



.container-sugestao-nome-produto{
    padding:10px;
    display:flex;
    flex-direction: column;
}

.card-sugestao-produto-opacity{
    opacity: 0;
}

.card-sugestao-nome-do-produto{
    box-sizing: border-box;
    border: 2px solid #f0f0f0;
    background-color: #f0f0f0;
    padding:10px;
    display:inline-flex;
    border-radius: 6px;
}

.card-sugestao-nome-do-produto:hover{
    background-color: #111111;
    color:white;
}