*{
    font-family: 'Poppins', sans-serif;
  }

.card-produto{
    cursor:pointer;
    width:150px;
    height:200px;
    margin:20px;
}

.imagem-card{
    
    height:100px;
}


.info-produtos{
    display:flex;
    flex-direction: column;
    gap:5px;
}