.imagem-produto-pagina-carrinho{
    width:75px;
    height:75px;
}

.container-imagem-texto-carrinho{
    display:flex;
    align-items: center;
    gap:50px;
    box-sizing: border-box;
    border-bottom:2px solid rgba(0, 0, 0, .25);
    padding-bottom:20px;
    padding-top:20px;
}

.container-texto-botoes{
    width:423px;
    display:flex;
    flex-direction: column;
    
}

.container-botoes-excluir-salvar-altera{
    display:flex;
    gap:20px;
}


.container-card-carrinho{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
}
.botao-menos-quantidade{
    width:16px;
    height:16px;
}

.botao-mais-quantidade{
    width:16px;
    height:16px;
}

.container-botao-alterar-quantidade{
    cursor:pointer;
    gap:20px;
    height:32px;
    display:flex;
    align-items: center;
    box-sizing: border-box;
    border:2px solid rgba(0, 0, 0, .25);
    padding:10px;
    border-radius: 6px;
}

.container-botao-alterar-quantidade p{
    font-size:12px;
}

.card-carrinho{
    display:flex;
    flex-direction: column;
}
.container-preco-desconto{
    gap:10px;
    display:flex;
}

.secao-carrinho{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card-carrinho-com-item{
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .25);;
    border-radius: 6px;
    padding:20px;
    display:flex;
    flex-direction: column;
}

.card-carrinho-vazio{
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .25);;
    border-radius: 6px;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}



.container-titulo-produtos{
    padding-bottom:10px;
    box-sizing: border-box;
    border-bottom:2px solid rgba(0, 0, 0, .25);
}

.container-carrinho-resumo-compra{
    display:flex;
    padding:20px;
    gap:40px
}

.titulo-resumo-da-compra{
    padding-bottom:10px;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, .25);
}

.container-total{
    display:flex;
    justify-content: space-between;
}
.card-resumo-da-compra{
    
    width:360px;
    height:289px;
    display:flex;
    flex-direction: column;
    gap:10px;
    box-sizing: border-box;
    border:2px solid rgba(0, 0, 0, .25);
    padding:20px;
    border-radius: 6px;
}

.container-botao button{
    background-color: #111111;
    color:white;
    width:100%;
    height:50px;    
}

.container-carrinho-vazio{
    
    align-items: center;
    display:flex;
    gap:30px;
}



.container-texto-recomendacoes{
    padding:20px;
    width:1261.93px;
}

.texto-recomendacoes{
    
    font-size: 24px;
}

.container-preco-frete{
    padding-top:10px;
    display:flex;
    justify-content: space-between;
}

.produto-preco-produto{
    display:flex;
    justify-content: space-between;
}

.frete-preco-frete{
    display:flex;
    justify-content: space-between;
}