.secao-anunciar-produto{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:3rem;
    padding-bottom:3rem;
}

.container-anunciar-produto{
    display:flex;
    gap:30px
}

.card-anunciar-produto{
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding:20px;
    border-radius: 6px;
    border:1px solid grey;
    background-color: #f1f1f1;
    
}

.imagem-card-anunciar-produto{
    width:120px;
    height:100px;
}

.secao-identificar-produto{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.card-secao-identificar-produto{
    width:100%;
    padding-top:3rem;
    padding-bottom:3rem;
}

.paragrafo-condicao-produto:hover{
    background-color:#f1f1f1;
}

.container-informacoes-produto-imagem-pagina-venda{
    display:flex;
    gap:20px;
    align-items: center;
}

.container-informacoes-produto-pagina-venda{
    width:500px;
    display:flex;
    flex-wrap: wrap;
    gap:50px
}

.container-adicionar-link-botao{
    display:flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
}

.container-adicionar-link-imagem{
    display:flex;
    gap:100px;
    align-items: center;
    margin-top:50px;
}

.container-imagem-fotos-produto{
    align-items: center;
    display:flex;
    flex-direction: column;
}

.container-fotos-aparecendo{
    display:flex;
    gap:20px;
    border: 2px solid #f0f0f0;
    padding:20px;
    border-radius: 6px;
    flex-wrap: wrap;
    width:400px;
    height:276px;
    margin-top:50px;
}

.card-condicoes-de-venda{
    padding:20px;
    width:500px;
}

.card-valor-do-frete{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
}

.card-resumo-anuncio{
    border-radius: 6px;
    background-color: #f1f1f1;
    width:600px;
    padding:20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}