.card-gostou-do-produto{
    padding:20px;
    display:flex;
    flex-direction: column;
    gap:20px;
    background-color: #ffffff;
}

.container-cards-detalhes-pedido{
    display:flex;
    flex-direction: column;
    gap:30px    
}

.card-gostou-do-produto{
    border-radius: 6px;
}

.menu-lateral{
    max-width: 70px;
    overflow: hidden;
    background-color: #f1f1f1;
    padding:20px;
    width:250px;
    box-sizing: border-box;
    padding-left:20px;
    transition: max-width 0.3s ease;

}

.menu-lateral:hover{
    max-width: 250px;
}

.paragrafo-menu-lateral{
    height:50px;
}

.container-meus-pedidos{
    
}

.container-meus-pedidos-inativo{
    position:relative;
    display:flex;
    
}

.container-inativo{
    position:absolute;
    top: 0;
    right:0;
    width:83.5%;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
    
}

.card-detalhe-da-compra{
    display:flex;
    flex-direction: column;
    padding-top:100px;
    gap:30px;
    width:400px;
    background-color: #f1f1f1;
    padding-left:36px;
    padding-right:36px;
}

.card-pagamento-detalhes-da-compra{
    display:flex;
    gap:30px;
    box-sizing: border-box;
    border:2px solid grey;
    border-radius: 6px;
    padding:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.detalhes-pagamento-envio{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.detalhes-pagamento-animated{
    max-height: 1000px; 
    opacity: 1;
}