
.carousel-wrapper {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
.container-carousel-carrinho{
    align-items: center;
    width:100%;
    display:flex;
    flex-direction: column;
    background-color:#111111;
}
  
  
  .carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: max-content;
  }
  
  .card-carousel-carrinho {
    flex: 0 0 250px; /* 2 cards por vez = 50% */
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:10px;
    text-align: center;
    
    
    margin-right: 10px;
    background: #eeeeee;
    border-radius: 12px;
  }

.card-carousel-carrinho:hover{
    border: 2px solid #F0F0F0;
}
  
  .botao-carousel {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .imagem-carousel {
    
    width: 100%;
    max-height: 200px;
    object-fit: contain;
  }

.titulo-produtos-carousel{
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.titulo-carousel{
  color:#ffffff;
}

.seta-esquerda-carousel{
  position:absolute;
  left:-35px;
  top:125px;
  background-color: #ffffff;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding:10px;
  width:60px;

}

.seta-direita-carousel{
  position: absolute;
  right:-20px;
  top:125px;
  background-color: #ffffff;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  border: 0px solid rgba(255, 255, 255, 0.5);
  
  border-radius: 50%;
  padding:10px;
  width:60px;
  

}