.imagem-banner{
    box-sizing: border-box;
    border-radius: 6px;
    width:70vw;
    height:300px;
    
}

.banner-wrapper{
    height:300px;
}
.banner-container{
    padding-top:3rem;
    padding-bottom:3rem;
    display:flex;
    justify-content: center;
    position: relative;
    background-color:	#f0f0f0;
    background: linear-gradient(to top, #f0f0f0, transparent);
}

.banner-container:hover .seta-esquerda,
.banner-container:hover .seta-direita {
    opacity: 1; /* Torna visível ao passar o mouse */
    visibility: visible;
}

.seta-esquerda{
    position:absolute;
    left:0px;
    top:125px;
    opacity:0;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
    border: 0px solid rgba(255, 255, 255, 0.5);
    
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    padding:10px;
    width:45px;

}

.seta-direita{
    position: absolute;
    right:0;
    top:125px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border: 0px solid rgba(255, 255, 255, 0.5);
    
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    padding:10px;
    width:40px;
    

}

.indicadores {
    left:50%;
    top:75%;
    position:absolute;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.bolinha {
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: rgba(203, 194, 194, 0.823);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bolinha.ativa {
    background-color: white;
}

.indicadores{
    background-color: transparent;
}

.setinha-esquerda-banner {
    width:30px;
    height:30px;
}

.secao-banner{
    position:relative;
    height:300px;
    display:flex;
    padding-bottom:3rem;
}

.setinha-direita-banner{
    height:30px;
    width:30px;

}

.fade-in-banner {
    opacity: 0;
    transform: scale(0.95);
    animation: fadeScaleInBanner 0.7s ease-in-out forwards;
}

@keyframes fadeScaleInBanner {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}