body{
    padding:0;
    margin: 0;
}

.card-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.card{
    background-color: #111111;
    width:250px;
    height:470px;
    display:flex;
    flex-direction: column;
    
}
.pagina-toda{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.container-email{
    display:flex;
    gap:20px;
    flex-direction: column;
}