body{
    padding:0;
    margin: 0;
}

.card-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.card{
    background-color: #111111;
    width:250px;
    height:470px;
    display:flex;
    flex-direction: column;
    
}
.pagina-toda{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.container-email{
    display:flex;
    gap:20px;
    flex-direction: column;
}

.card-pagina-esqueci-senha{
    padding:32px;
    border-radius: 6px;
    box-sizing: border-box;
    border:1px solid #BFBFBF;
    width:600px;

}

.card-container-pagina-esqueci-senha{
    margin:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.insira-seu-email{
    display:flex;
    flex-direction: column;
    gap:30px;
}

